AUTH_DB_NAME=auth_service_db
AUTH_DB_USER=auth_service_user
AUTH_DB_PASSWORD=change-me-auth

BUDGET_DB_NAME=budget_service_db
BUDGET_DB_USER=budget_service_user
BUDGET_DB_PASSWORD=change-me-budget

REPORT_DB_NAME=report_service_db
REPORT_DB_USER=report_service_user
REPORT_DB_PASSWORD=change-me-report

TRANSACTION_DB_NAME=transaction_service_db
TRANSACTION_DB_USER=transaction_service_user
TRANSACTION_DB_PASSWORD=change-me-transaction
