DJANGO_DEBUG=False
DJANGO_SECRET_KEY=dev-auth-secret-key-change-me-at-least-32-characters
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,auth-service

POSTGRES_DB=auth_service_db
POSTGRES_USER=auth_service_user
POSTGRES_PASSWORD=auth_service_password
POSTGRES_HOST=localhost
POSTGRES_PORT=6432
